.field {
  display: flex;
  flex-direction: column;

  text-align: center;

  width: calc((100% - 1px) / 3);
  max-width: 65px;
}
.timer {
  display: flex;
  text-align: center;
  justify-content: left;
}
.timer-controls {
  text-align: left;
}
